<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div th:replace="~{layout/navbar}"></div>

	<div class="container">
	<h1>Member 登入</h1>
	
	<form th:action="@{/member/login}" method="post">
 

	  <div class="container">
	    <label for="loginName"><b>Membername</b></label>
	    <input type="text" placeholder="Enter Membername" name="loginName" required>
	
	    <label for="loginPwd"><b>Password</b></label>
	    <input type="password" placeholder="Enter Password" name="loginPwd" required>
	   
	    <button type="submit">登入</button>
	  
	  </div>
   </form>
   
   <div th:text=" ${session.loginMember} ? '安安' + ${session.loginMember.memberName}  "></div>
   <div th:text=" ${loginFail} ? ${loginFail} "></div>
    </div>

</body>
</html>